.toggle_switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 31px;
  cursor: pointer;
}

.toggle_switch input[type="checkbox"] {
  display: none;
}

.toggle_switch_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px #ccc;
  transition: background-color 0.3s ease-in-out;
}

.toggle_switch_handle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 27px;
  height: 27px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.toggle_switch::before {
  content: "";
  position: absolute;
  top: -25px;
  right: -35px;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  text-shadow: 1px 1px #fff;
  transition: color 0.3s ease-in-out;
}

.toggle_switch input[type="checkbox"]:checked + .toggle_switch_handle {
  transform: translateX(45px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 0 3px #FF4458;
}

.toggle_switch input[type="checkbox"]:checked + .toggle_switch_background {
  background-color: #FF4458;
  box-shadow: inset 0 0 0 2px #FF4458;
}

.toggle_switch input[type="checkbox"]:checked + .toggle_switch:before {
  content: "On";
  color: #FF4458;
  right: -15px;
}

.toggle_switch
  input[type="checkbox"]:checked
  + .toggle_switch_background
  .toggle_switch_handle {
  transform: translateX(20px);
}
